@import '../../css/global.css';

:root {
    --dark-blue-bg: hsl(217, 54%, 11%);
    --dark-blue-card-bg: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

body {
    background-color: var(--dark-blue-bg);
    font-family: 'Outfit', sans-serif;
}

main {
    display: grid;
    height: 100vh;
    height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    place-items: center;
}

.card {
    width: 37rem;
    min-width: 35rem;
    padding: 2.4rem;
    background-color: var(--dark-blue-card-bg);
    border-radius: 1.5rem;
}

.card-image {
    width: 100%;
    min-width: 100%;
    height: 32rem;
    min-height: 32rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-image: url(assets/image-equilibrium.jpg);
}

.card-image-hover {
    --bg-cyan: hsla(178, 100%, 50%, 0.5);
    width: 100%;
    position: absolute;
    background: no-repeat center url(assets/icon-view.svg) var(--bg-cyan);
    inset: 0;
    opacity: 0;
}

.card-image:hover .card-image-hover{
    opacity: 1;
    cursor: pointer;
}

.card-title {
    color: var(--white);
    margin: 2.3rem 0 1.3rem;
}

.card > p {
    margin: 0.5rem 0;
    line-height: 1.7;
    color: var(--soft-blue);
    font-size: 1.8rem;
    font-weight: 300;
}

.card-data, .card-author {
    width: 100%;
}

.card-data {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding: 1rem 0 1.9rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid var(--dark-blue-line);
}

.card-price, .card-time {
    display: flex;
    align-content: center;
}

.card-price {
    color: var(--cyan);
}

.card-time {
    color: var(--soft-blue);
}

.card-price::before {
    content: url(./assets/icon-ethereum.svg);
    margin-right: 0.5rem;
}

.card-time::before {
    content: url(./assets/icon-clock.svg);
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}

.card-author {
    display: flex;
    place-items: center;
    column-gap: 1.8rem;
    color: var(--soft-blue);
}

.card-author img {
    border: 0.2rem solid var(--soft-blue);
    border-radius: 50%;
    width: 13%;
}

.author-name {
    color: var(--white);
}


.card-title:hover, .author-name:hover {
    color: var(--cyan);
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .card {
        width: 90%;
        min-width: 34rem;
    }
}