:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    font-size: 62.5%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
}

.container {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--light-gray);
}

.card {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 1.9rem;
    width: 35rem;
    box-shadow: 0.3rem 0.4rem 3rem rgba(123, 123, 123, 0.248);
}

.card-body {
    padding: 1.8rem 1.2rem;
}

.card-title {
    color: var(--dark-blue);
    padding-bottom: 1rem;
}

.card-text {
    color: var(--grayish-blue);
}


.card-img {
    display: block;
    width: 100%;
    border-radius: 0.8rem;
}