@import '../../css/config.css';

:root {
    --color-white: hsl(0, 0%, 100%);
    ---light-grayish-violet: hsl(270, 3%, 87%);
    ---dark-grayish-violet: hsl(279, 6%, 55%);
    ---very-dark-violet: hsl(278, 68%, 11%);
    font-family: 'Space Grotesk', sans-serif;
}

main {
    height: 100vh;
    height: 100svh;
    display: flex;

}

.background-card {
    width: 35vw;
    width: 35svw;
    background: no-repeat url(./assets/bg-main-desktop.png);
}

img {
    width: 100%;
}

.card-front{
    /* width: 20rem;
    background: url(../images/bg-card-front.png); */
}

.card-front::after {
    display: absolute;
    width: 100%;
    top: 1rem;
    left: 3rem;
    color: white;
    content: '0000 0000 0000 0000';
}

.card-back {
    display: absolute;
    z-index: -1;
    top: 1rem;
    left: 3rem;
}

.form-container{
    width: 50%;
    padding: 2rem;
    display: grid;
    place-items: center;
}

.form-card-data, .form-field {
    font-size: 1.8rem;
}

.form-card-data {
    margin: auto;
}

.form-card-data label {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-field {
    width: 100%;
    padding: 0.6rem 1rem;
    border: 0.1rem solid var(---light-grayish-violet);
    border-radius: 0.5rem;
    color: var(---light-grayish-violet);
    margin-bottom: 0.8rem;
}

.form-btn {
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    background-color: var(---very-dark-violet);
    color: var(--color-white);
}