@import '../../css/config.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --linear-gradient-active-input-border: hsl(249, 99%, 64%); /*to hsl(278, 94%, 30%);*/
    --red-input-errors: hsl(0, 100%, 66%);
}

* {
    font-family: 'Space Grotesk', sans-serif;
    /* border: 1px solid gray; */
}

main {
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    grid-auto-rows: minmax(20rem, 1fr) minmax(45rem, 2.5fr);
}

.card-container {
    position: relative;
    background: no-repeat url(./assets/bg-main-desktop.png);
}

.front-card, .back-card {
    position: absolute;
    width: calc(100% - 30%);
    /* min-width: 25rem; */
    height: fit-content;
    background-color: transparent;
    /* max-height: 15rem; */
    border-radius: 0.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    overflow: hidden;
}

.front-card img, .back-card img {
    object-fit: cover;
    width: 100%;
}

.front-card{
    right: 6rem;
    top: 11rem;
    z-index: 1;
}

.card-content {
    position: absolute;
    display: grid;
    top: 0;
    padding: 1rem;
    row-gap: 1.5rem;
    color: var(--white);
}

.card-content img {
    width: 10rem;
}

.back-card {
    top: 3rem;
    right: 1.8rem;
}

.form-container {
    display: flex;
    align-items: start;
    justify-content: center;
}

.form, .form-field {
    font-size: 1.8rem;
}

.form{
    padding: 3rem 2rem;
}

.form label, .form fieldset legend {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

.form .card-data {
    display: flex;
    column-gap: 0.5rem;
}

.card-data fieldset{
    display: flex;
    column-gap: 0.5rem;
    flex-direction: row;
    border: none;
}

.form-field {
    width: 100%;
    padding: 0.6rem 1rem;
    border: 0.1rem solid var(--light-grayish-violet);
    border-radius: 0.6rem;
    margin: 1.2rem 0;
    outline: none;
}

.form-field:focus {
    border: 1px solid var(--linear-gradient-active-input-border);
}

.form-field::placeholder {
    --light-grayish-violet: hsl(300, 1%, 83%);
    color: var(--light-grayish-violet);
}

.form-btn {
    width: 100%;
    padding: 1.4rem 0;
    margin-top: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    background-color: var(--very-dark-violet);
    color: var(--white);
}

@media screen and (min-width: 530px) {
    :root {
        --width-main: 23rem;
    }
    main {
        grid-template-columns: minmax(var(--width-main), 1fr) 2fr;
        grid-template-rows: auto;
        gap: 0;
    }
    
    .card-container {
        min-height: 100vh;
        min-height: 100svh;
    }

    .front-card, .back-card {
        /* max-width: 35rem; */
        width: calc(100% - (35 * 100/ 100));
        min-width: 28rem;
        /* height: calc(100% / 4.7); */
        object-fit: cover;
        /* height: 19.4rem; */
    }

    .front-card {
        top: 17rem;
        right: -8rem;
    }
    
    .back-card {
        right: -15rem;
        top: 40rem;
    }
    
    .form-container {
        align-items: center;
    }
    .form {
        min-width: none;
        width: 50%;
        /* margin: 0 auto; */

    }

}
